<div class="card" [formGroup]="personalInformationForm">

  <div *ngIf="step === 1" class="step">
    <div class="card-header">
      <h2>Section 1</h2>
    </div>
    <div class="card1_image">
      <img ngSrc="assets/images/img.png" height="474" width="701">
    </div>
    <p>Hi,
      my name is ____ and I am from Cushman & Wakefield which is a
      leading International Property Consulting Firm. We conduct surveys from time to time on
      various trends and issues concerning the real estate industry.</p>
  </div>

  <div *ngIf="step === 2" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Could you give us your address?</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q1">
        <label *ngFor="let list of addressOptions" [nzValue]="list.optionValue" class="radio"
               nz-radio>{{ list.optionLabel }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 3" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Can you please share which age group you belong to?</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q2">
        <label *ngFor="let list of ageGroupOptions" [nzValue]="list.optionValue" class="radio"
               nz-radio>{{ list.optionLabel }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 4" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How would you describe your connection with Lucknow city?</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q3">
        <label *ngFor="let list of connectionOptions" [nzValue]="list.optionValue" class="radio"
               nz-radio>{{ list.optionLabel }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 5" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How long have you been living in Lucknow?</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q4">
        <label *ngFor="let list of timeInLucknow" [nzValue]="list.optionValue" class="radio"
               nz-radio>{{ list.optionLabel }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 6" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How would you describe your residence? </h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q5">
        <label *ngFor="let list of residenceOptions" [nzValue]="list.optionValue" class="radio"
               nz-radio>{{ list.optionLabel }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 7" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>What is house ownership status of your current accommodation? </h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q6">
        <label *ngFor="let list of statusOptions" [nzValue]="list.optionValue" class="radio"
               nz-radio>{{ list.optionLabel }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 8" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>What would be an approximate market value of the home where you are currently residing?</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q7">
        <label *ngFor="let list of market_values; let i = index" [nzValue]="i + 1" class="radio"
               nz-radio>{{ list }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 9" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How many family members (including self) are residing at current place of residence (Please exclude
        resident maids
        or house-help)?</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q8">
        <label *ngFor="let list of family_members; let i = index" [nzValue]="i + 1" class="radio"
               nz-radio>{{ list }}</label>
      </nz-radio-group>
    </div>
  </div>

  <div *ngIf="step === 10" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Can you please tell me the Profession or Business or Service of the Chief earning member and other
        earning
        members of family?</h2>
    </div>
    <div class="form-group">
      <div class="table">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Occupation</th>
            <th>Main Earning Member</th>
            <th>Second Earning Member</th>
            <th>Third Earning Member</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let list of q9Options; let i = index">
            <td>{{ list.label }}</td>
            <td>
              <input [value]="i+1" formControlName="q9a" type="radio">
            </td>
            <td>
              <input [value]="i+1" formControlName="q9b" type="radio">
            </td>
            <td>
              <input [value]="i+1" formControlName="q9c" type="radio">
            </td>
          </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>

  <div *ngIf="step === 11" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How many cars do you own in a family? </h2>
    </div>
    <div class="form-group">
      <nz-tree-select
        style="width: 100%"
        [nzDropdownStyle]="{'height': '400px'}"
        formControlName="q10"
        [nzNodes]="q10"
        nzShowSearch
        nzCheckable
        nzPlaceHolder="Please select"
      ></nz-tree-select>
    </div>
  </div>

  <div *ngIf="step === 12" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Do you or your family members have any social club membership (e.g., Oudh Gymkhana Club, Mohammed Bagh
        Club, Lucknow Golf Club, Palm Golf Club &amp; Resort, Lions Club, Hotel Club Membership or Equivalent)</h2>
    </div>
    <div class="form-group">
      <nz-radio-group class="radio-group" formControlName="q11">
        <label [nzValue]="1" class="radio"
               nz-radio>Yes</label>
        <label [nzValue]="2" class="radio"
               nz-radio>No</label>
      </nz-radio-group>
      <div *ngIf="personalInformationForm.get('q11')?.value! == 1" class="form-group mt-4">
        <label>Enter Name of the club: </label>
        <input formControlName="q11Extra" nz-input type="text"/>
      </div>
    </div>
  </div>

  <div *ngIf="step === 13" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Presently, how far do you travel for purchase of apparels &amp; accessories and leisure &amp;
        entertainment?</h2>
    </div>
    <div class="form-group">
      <table class="table table-striped mob_hide">
        <thead>
        <tr>
          <th>Travel Time</th>
          <th>Less than 15 Mins</th>
          <th>15 – 30 Mins</th>
          <th>30 - 45 Mins</th>
          <th>More than 45 Mins</th>
          <th>Not Applicable</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of q12Options; let i = index">
          <td>{{ list }}</td>
          <td>
            <input [value]="1" formControlName="q12{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="2" formControlName="q12{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="3" formControlName="q12{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="4" formControlName="q12{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="5" formControlName="q12{{q12IndexMap[i]}}" type="radio">
          </td>
        </tr>
        </tbody>
      </table>

      <div class="mob_show">
        <div *ngFor="let list of q12Options; let i = index" class="form-group mb-2">
          <h4>{{ list }}</h4>
          <nz-select formControlName="q12{{q12IndexMap[i]}}">
            <nz-option [nzValue]="1" nzLabel="Less than 15 Mins"></nz-option>
            <nz-option [nzValue]="2" nzLabel="15 – 30 Mins"></nz-option>
            <nz-option [nzValue]="3" nzLabel="30 - 45 Mins"></nz-option>
            <nz-option [nzValue]="4" nzLabel="More than 45 Mins"></nz-option>
            <nz-option [nzValue]="5" nzLabel="Not Applicable"></nz-option>
          </nz-select>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="step === 14" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How often do you shop for the following categories of retail and what is the Average spend monthly or
        per transaction? </h2>
    </div>
    <div class="form-group">
      <table class="table table-striped mob_hide">
        <thead>
        <tr>
          <th>Frequency of visit</th>
          <th>Once a Week</th>
          <th>Once in 2 weeks</th>
          <th>Monthly</th>
          <th>Once in 2-3 months</th>
          <th>Once in 6 months</th>
          <th>Not Applicable</th>
          <th>
            Av.
            Spend
            per purchase
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of q13Options; let i = index">
          <td>{{ list }}</td>
          <td>
            <input [value]="1" formControlName="q13{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="2" formControlName="q13{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="3" formControlName="q13{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="4" formControlName="q13{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="5" formControlName="q13{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="6" formControlName="q13{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <nz-input-number-group nzAddOnBefore="₹" style="width: 100%;">
              <nz-input-number [nzMin]="0" [nzStep]="1"
                               formControlName="q13{{q12IndexMap[i]}}Extra"></nz-input-number>
            </nz-input-number-group>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="mob_show">
        <div *ngFor="let list of q13Options; let i = index" class="mobile_options">
          <div class="form-group">
            <h4>{{ list }}</h4>
            <nz-select formControlName="q13{{q12IndexMap[i]}}">
              <nz-option [nzValue]="1" nzLabel="Once a Week"></nz-option>
              <nz-option [nzValue]="2" nzLabel="Once in 2 weeks"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Monthly"></nz-option>
              <nz-option [nzValue]="4" nzLabel="Once in 2-3 months"></nz-option>
              <nz-option [nzValue]="5" nzLabel="Once in 6 months"></nz-option>
              <nz-option [nzValue]="6" nzLabel="Not Applicable"></nz-option>
            </nz-select>
          </div>

          <div class="form-group mb-2">
            <label>Av.
              Spend
              per purchase</label>
            <div class="d-block w-100">
              <nz-input-number-group nzAddOnBefore="₹" style="width: 100%;">
                <nz-input-number [nzMin]="0" [nzStep]="1"
                                 formControlName="q13{{q12IndexMap[i]}}Extra"></nz-input-number>
              </nz-input-number-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="step === 15" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Which are your preferred locations for the following activities?</h2>
    </div>
    <div class="form-group">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Activites</th>
          <th>Preferred Location</th>
          <th>Preferred Mall / Malls</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of q13Options; let i = index">
          <td>{{ list }}</td>
          <td>
            <input formControlName="q14a{{i+1}}" nz-input type="text">
          </td>
          <td>
            <input formControlName="q14b{{i+1}}" nz-input type="text">
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div *ngIf="step === 16" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>How often do you go out for leisure and entertainment with family and friends?</h2>
    </div>
    <div class="form-group">
      <table class="table table-striped mob_hide">
        <thead>
        <tr>
          <th>Frequency of visit</th>
          <th>Once a Week</th>
          <th>Once in 2 weeks</th>
          <th>Monthly</th>
          <th>Once in 2-3 months</th>
          <th>Once in 6 months</th>
          <th>Not Applicable</th>
          <th>
            Av.
            Spend
            per purchase
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of q15Options; let i = index">
          <td>{{ list }}</td>
          <td>
            <input [value]="1" formControlName="q15{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="2" formControlName="q15{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="3" formControlName="q15{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="4" formControlName="q15{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="5" formControlName="q15{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <input [value]="6" formControlName="q15{{q12IndexMap[i]}}" type="radio">
          </td>
          <td>
            <nz-input-number-group nzAddOnBefore="₹" style="width: 100%;">
              <nz-input-number [nzMin]="0" [nzStep]="1"
                               formControlName="q15{{q12IndexMap[i]}}Extra"></nz-input-number>
            </nz-input-number-group>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="mob_show">
        <div *ngFor="let list of q15Options; let i = index" class="mobile_options">
          <div class="form-group">
            <h4>{{ list }}</h4>
            <nz-select formControlName="q15{{q12IndexMap[i]}}">
              <nz-option [nzValue]="1" nzLabel="Once a Week"></nz-option>
              <nz-option [nzValue]="2" nzLabel="Once in 2 weeks"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Monthly"></nz-option>
              <nz-option [nzValue]="4" nzLabel="Once in 2-3 months"></nz-option>
              <nz-option [nzValue]="5" nzLabel="Once in 6 months"></nz-option>
              <nz-option [nzValue]="6" nzLabel="Not Applicable"></nz-option>
            </nz-select>
          </div>

          <div class="form-group mb-2">
            <label>Av.
              Spend
              per purchase</label>
            <div class="d-block w-100">
              <nz-input-number-group nzAddOnBefore="₹" style="width: 100%;">
                <nz-input-number [nzMin]="0" [nzStep]="1"
                                 formControlName="q15{{q12IndexMap[i]}}Extra"></nz-input-number>
              </nz-input-number-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="step === 17" class="step">
    <div class="card-header">
      <h3>Question {{step - 1}}</h3>
      <h2>Which are your preferred locations for the following activities?</h2>
    </div>
    <div class="form-group">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Activites</th>
          <th>Preferred Location</th>
          <th>Preferred Mall / Malls</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of q15Options; let i = index">
          <td>{{ list }}</td>
          <td>
            <input formControlName="q16a{{i+1}}" nz-input type="text">
          </td>
          <td>
            <input formControlName="q16b{{i+1}}" nz-input type="text">
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="button-section">
    <button [disabled]="step === 1" (click)="prevStep()" nz-button nzType="primary">Back</button>
    <span class="step-counter">{{ step }}/{{ MAX_STEP }}</span>
    <button (click)="nextStep()" [disabled]="disableNext" [nzLoading]="surveySubmitStarted" nz-button nzType="primary">
      <ng-container *ngIf="step === MAX_STEP; else showNext" >
        Submit
      </ng-container>
      <ng-template #showNext>
        Next
      </ng-template>
    </button>
  </div>
</div>
